@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraLight.ttf?5b0c472540d05922614e3b3fd59c4291) format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Light.ttf?18a81d43652c0f91aa924ed6f33d5989) format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.ttf?dba92cb9dc60f9f35cbf62428afd3ac1) format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-SemiBold.ttf?82c3a6e2c1edc45f4f7bb9a8f05d26a7) format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Bold.ttf?974bca2bf26dc2fae8d67248d9df5e34) format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraBold.ttf?feb8359d760b2d69e911f7c8136b6c2d) format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Black.ttf?005454d8f0c400b618dc3970484b8365) format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraLightItalic.ttf?66eba241451f14112ef972dd6bd32820) format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-LightItalic.ttf?07955b20b41180efbae364d56dcf970a) format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Italic.ttf?c04b4d3c0bf973b559190f5e45931e7a) format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-SemiBoldItalic.ttf?834166932176332ab7883f1b318dbcd0) format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-BoldItalic.ttf?5f6b51d8d3463e56b4672bd5812729de) format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraBoldItalic.ttf?bc4862c42ab438f0f16d9a0099bc8abc) format("truetype");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-BlackItalic.ttf?6fef3113c943c3c4c57a929c436f73cc) format("truetype");
  font-style: italic;
  font-weight: 900;
}

body {
  font-family: "Nunito", sans-serif;
}

body > .loading-overlay {
  display: none;
}

body.loading > .loading-overlay {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  align-content: center;
  justify-content: center;
}

.navbar-search .input-group .form-control {
  align-self: center;
}

.sidebar-brand .sidebar-brand-icon .brand-logo {
  max-height: 48px;
}

.login-container .card-body {
  padding: 60px 0;
}

.login-container .card-body .bg-login-image {
  background-image: url(/images/dclogo.png?a8abe21f549b2d7285ed438ded5c81e3);
  background-size: contain;
  background-repeat: no-repeat;
}

.login-container .card-body .login-form-container {
  min-height: 400px;
  display: grid;
  align-items: center;
}

.user-management .add-user {
  margin-bottom: 20px;
}

.form-group textarea.form-control {
  resize: none;
}

.form-group .form-control {
  color: #1b1b1b;
}

.form-group .form-control:disabled,
.form-group .form-control [readonly] {
  color: #444444;
}

.table-container-listing {
  padding: 20px 0;
}

input.readonly-input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.action-container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
}

.action-container button .default-view {
  display: block;
}

.action-container button .default-view.hide {
  display: none;
}

.action-container button .switch-view {
  display: none;
}

.action-container button .switch-view.show {
  display: block;
}

.row-template-container {
  display: none;
}

.select2-container {
  display: grid;
  align-content: center;
}

.select2-container select.select2-hidden-accessible {
  height: 100% !important;
  width: 100% !important;
}

.three-inputs-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3px;
}

.three-inputs-container input {
  padding: 5px 3px;
}

.print-view .print-container {
  max-width: 1080px;
  margin: auto;
}

.print-view .print-container .hide-on-print {
  display: none;
}

.print-view .print-container .print-header {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-areas: "logo side" "under under";
  grid-template-columns: 200px auto;
}

.print-view .print-container .print-header .logo-container {
  display: grid;
  grid-area: logo;
  padding: 30px;
}

.print-view .print-container .print-header .logo-container img {
  max-width: 100%;
}

.print-view .print-container .print-header .logo-side-text {
  display: grid;
  grid-area: side;
}

.print-view .print-container .print-header .logo-side-text .title {
  display: grid;
  text-align: center;
  align-items: end;
  font-size: 2em;
}

.print-view .print-container .print-header .logo-side-text .sub {
  display: grid;
  text-align: center;
  align-items: start;
  font-size: 1.5em;
}

.print-view .print-container .print-header .logo-under-text {
  display: grid;
  grid-area: under;
  text-align: center;
  align-items: center;
  font-size: 18px;
}

.print-view .print-container .print-footer {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.print-view .print-container .print-footer .left-container {
  display: grid;
}

.print-view .print-container .print-footer .left-container .header {
  display: grid;
}

.print-view .print-container .print-footer .right-container {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 50px;
}

.print-view .print-container .print-footer .right-container .header {
  display: grid;
}

.print-view .print-container .print-footer .right-container .signature-container {
  display: grid;
  align-items: center;
  justify-items: center;
  color: #000;
}

.print-view .print-container .print-footer .right-container .signature-container .line {
  width: 70%;
  border-top: 1px solid #000;
}

